{% extends 'base.html' %} {% block title %}HOME{% endblock %} 
{% block content%}
<div class="d-flex flex-column" style="width: 50vw;">
    <h1 class="mt-5">Methylation Site Prediction</h1>

    <p class="mt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum facilis neque iusto aspernatur illum. Ea, accusantium! Repellendus itaque placeat esse ut est error corrupti eligendi nemo debitis, fugit eum, laboriosam adipisci delectus inventore voluptatem neque!</p>
</div>
{% endblock %}
