{% extends 'base.html' %} {% block title %}HOME{% endblock %} {% block content%}
<div class="justify-content-center mt-5" style="width:50vw">
    <div class="text-light rounded-2 p-3" style="background-color: #113946;">
        <p class="fw-bold">Input Sequence</p>
        <p style="width:80%;">{{ seq }}</p>
    </div>
    <h3 class="mt-5">Prediction Result</h3>
    <table class="table mt-2 text-center" style="width: 50vw">
        <tr>
            <th class="text-start">Residues</th>
            <th>Arginine (R) site</th>
            <th>Classification</th>
        </tr>
        {% for result in results %}
        <tr>
            <td class="text-start">{{ result[0] }}</td>
            <td>{{ result[1] }}</td>
            <td>{{ result[2] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
